.logs {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 300px 0 -270px;
}

.form_logs {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid transparent;
    margin: 10px 0px auto 0;
    width: 200px;
    color: $color-2;
    background-color: $color-3;

    & .button {
        border: none;
        border-radius: 14px 14px 14px 14px;
        background-color: $color-1;
        color: white;
        font-weight: 400;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgba($color-1, 0.7);
        }
    }
    & .errorUser {
        margin: 5px;
        text-align: center;
        color: red;
        font-style: italic;
    }
}

.success {
    color: green;
    text-align: center;
    font-weight: bold;
}